In [3]:
# importing numpy
import numpy as np

In [4]:
# Lets create array object
arr = np.array([[1,2,3],[4,5,6]])

In [5]:
# Lets print the type of arr
type(arr)

numpy.ndarray

In [6]:
# Lets print the array dimensions
arr.ndim

2

In [7]:
# Lets print the shape of an array
arr.shape

(2, 3)

In [8]:
# Lets print the size of an array
arr.size

6

In [9]:
# Lets print the type of elements in an array
arr.dtype

dtype('int32')

In [10]:
# Lets create array from list with type float
a = np.array([[1,2,3],[4,5,6]], dtype = float)

In [11]:
# Lets print a
a

array([[1., 2., 3.],
       [4., 5., 6.]])

In [12]:
# Lets create array from tuple
b = np.array((1,2,3))

In [13]:
# Lets print the array we have created from tuple
b

array([1, 2, 3])

In [14]:
# Lets create 3*3 array with intial values = 0
c = np.zeros((3,3))

In [15]:
# Lets print the value of c
c

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [16]:
# Lets create an array with constant value 5 which is of datatype complex
d = np.full((3,3),6,dtype = 'complex')

In [17]:
# Lets print d
d

array([[6.+0.j, 6.+0.j, 6.+0.j],
       [6.+0.j, 6.+0.j, 6.+0.j],
       [6.+0.j, 6.+0.j, 6.+0.j]])

In [18]:
# Lets create a 2*2 array with random values
e = np.random.random((2,2))

In [19]:
# Lets print e
e

array([[0.98778645, 0.91350454],
       [0.54361956, 0.19038997]])

In [20]:
# Lets implement arange function of numpy : Lets print integers from 0 to 30 with the steps of 5
f = np.arange(0,30,5)

In [21]:
# Lets print f
f

array([ 0,  5, 10, 15, 20, 25])

In [22]:
# Lets explore the linspace function of numpy : print 5 evenly spread values between 0 to 10 
g = np.linspace(0,10,5)

In [23]:
# Lets print g
g

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

In [28]:
# Lets try reshape function of array datatype
arr = np.array([[1,2,3],
               [4,5,6]])

In [29]:
# Lets print arr
arr

array([[1, 2, 3],
       [4, 5, 6]])

In [30]:
# Lets reshape the array to 3*2
arr.reshape(3,2)

array([[1, 2],
       [3, 4],
       [5, 6]])

In [31]:
# Lets implement Flatten method to collapse array to one dimension
arr.flatten()

array([1, 2, 3, 4, 5, 6])

In [32]:
# Lets explore some popular array indexing methods
arr = np.array([[1,2,3],[4,5,6],[7,8,9]])
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [33]:
# Lets slice the array : PS : I want to print 2 rows and 2 columns
arr[:2,:2]

array([[1, 2],
       [4, 5]])

In [39]:
# Lets explore integer array indexing example
temp = arr[[0,1,2],[0,1,2]]
temp

array([1, 5, 9])

In [41]:
# boolean array indexing example 
cond = arr > 5
temp = arr[cond]
temp

array([6, 7, 8, 9])

In [42]:
# Lets print an array once
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [43]:
# Lets explore the basic numpy operations
a = np.array([1,2,3,4])
a

array([1, 2, 3, 4])

In [44]:
# Lets add 1 to every element of an array
a+1

array([2, 3, 4, 5])

In [45]:
# Lets print transpose of an array
a.T

array([1, 2, 3, 4])

In [46]:
# Lets explore some unary operations
arr = np.array([[1,2,3],
               [4,5,6],
               [7,8,9]])
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [47]:
# Lets print the maximum element in an array
arr.max()

9

In [48]:
# Lets print the minimum element of an array
arr.min()

1

In [49]:
# Lets print the sum of array elements
arr.sum()

45

In [50]:
# Lets print the cumulative sum of each row
arr.cumsum(axis=1)

array([[ 1,  3,  6],
       [ 4,  9, 15],
       [ 7, 15, 24]])

In [51]:
# Lets print rowwise max element
arr.max(axis = 1)

array([3, 6, 9])

In [52]:
# Lets print rowwise minimum element
arr.min(axis = 1)

array([1, 4, 7])

In [55]:
# Lets explore array multiplication
a = np.array([[1,2,3],
             [4,5,6],
             [7,8,9]])
b = np.array([[1,2,3],
            [4,5,6],
            [7,8,9]])

In [56]:
# Lets add arrays
a+b

array([[ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18]])

In [59]:
# Lets multiply arrays
c = a*b
c

array([[ 1,  4,  9],
       [16, 25, 36],
       [49, 64, 81]])

In [58]:
# Lets perform matrix multiplication
a.dot(b)

array([[ 30,  36,  42],
       [ 66,  81,  96],
       [102, 126, 150]])

In [60]:
# Lets find out the the square root of each element in c
np.sqrt(c)

array([[1., 2., 3.],
       [4., 5., 6.],
       [7., 8., 9.]])

In [65]:
# Lets perform some sorting operations on array
d = np.array([[1,2,3],
          [4,5,6],
          [7,9,8]])
d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 9, 8]])

In [67]:
# Lets sort this array 
np.sort(a,axis = None)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [68]:
# Lets print the sorted array
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])